<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <h4 class="m-0 text-dark">ユーザ一覧</h4>
    </div>
  </section>

  <section class="content">
    <div class="container-fluid">
      
      <div class="card">
        <div class="card-header">
          <div class="text-right">
            <%= link_to 'ユーザ追加', new_user_path, method: :get, remote: true, class: 'btn btn-primary' %>
          </div>
        </div>

        <div class="card-body p-0">
          <table class="table table-striped">
            <thead>
              <tr class="bg-secondary">
                <th>No</th>
                <th>ユーザ名</th>
                <th>削除日時</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <% @users.each_with_index do |user, i| %>
                <tr>
                  <td><%= calc_row_number(@users, i) %></td>
                  <td><%= user.name %></td>
                  <td><%= user.deleted_at.try!(:strftime, '%Y-%m-%d %H:%M:%S') %></td>
                  <td><%= user_operate_button(user) %></td>
                </tr>
              <% end %> 
            </tbody>
          </table>
          <%= paginate @users %>
        </div>
      </div>
    </div>
  </section>
</div>

<div id="modal_area">
</div>