<div id="related_inquiries_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" area-modal="true">
  <div class="modal-dialog xlarge_modal" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">関連する問合せ</h4>
      </div>

      <div class="modal-body p-0">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>着信日時</th>
              <th>会社名</th>
              <th>担当者</th>
              <th>システム名</th>
              <th>問合せ内容</th>
              <th>回答内容</th>
              <th>回答者</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @inquiries.each do |inquiry| %>
              <tr>
                <td><%= inquiry.inquiry_datetime_text %></td>
                <td><%= inquiry.company_name %></td>
                <td><%= inquiry.inquirier_name %></td>
                <td><%= inquiry.system_name %></td>
                <td><%= inquiry.question %></td>
                <td><%= inquiry.answer %></td>
                <td><%= inquiry.user_name %></td>
                <td>
                  <%= button_tag '選択', type: 'button', class: 'btn btn-info', onclick: 'javascript: selectedRelatedInquiry(event);' %>
                  <%= hidden_field_tag :inquiry_id, inquiry.id %>
                  <%= hidden_field_tag :inquiry_related_text, build_inquiry_related_text(inquiry) %>
                </td>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="modal-footer">
        <%= button_tag '閉じる', type: 'button', class: 'btn btn-default', id: 'modal_close' %>
      </div>
    </div>
  </div>
</div>

<script>

  $('#modal_close').on('click', () => {
    $('#related_inquiries_modal').modal('hide');
  });

  function selectedRelatedInquiry(event) {
    const selectBtn = event.currentTarget;
    const inquiryId = $(selectBtn).next().val();
    const inquiryRelatedText = $(selectBtn).next().next().val();

    $('#inquiry_inquiry_relation_id').val(inquiryId);
    $('#relation_text').val(inquiryRelatedText);

    $('#related_inquiries_modal').modal('hide');
  }

</script>