<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <h4 class="m-0 text-dark">応対中</h4>
    </div>
  </section>

  <section class="content">
    <div class="container-fluid">
      <%= form_with model: @unregister_inquiry, url: unregister_update_inquiries_path, method: :patch do |f| %>
        <div class="row">
          <div class="col col-sm-5">
            <div class="card">
              <div class="card-header bg-secondary">
                問合せ元情報
              </div>
              <div class="card-body">
                <ul class="list-group fs-5">
                  <li class="list-group-item">
                    <i class="fas fa-clock mr-3"></i> <%= @unregister_inquiry.inquiry_datetime %>
                    <%= f.hidden_field :start_time, value: @unregister_inquiry.start_time.strftime('%H:%M'), id: 'start_time' %>
                  </li>
                  <li class="list-group-item">
                    <i class="fas fa-industry mr-3"></i> <%= @unregister_inquiry.company_name %>
                  </li>
                  <li class="list-group-item">
                    <i class="fas fa-user-tie mr-3"></i> <%= @unregister_inquiry.inquirier_name %>
                  </li>
                  <li class="list-group-item">
                    <i class="fas fa-phone mr-3"></i> <%= @unregister_inquiry.telephone_number %>
                  </li>
                  <li class="list-group-item">
                    <i class="fas fa-user-friends mr-3"></i> <%= @unregister_inquiry.inquirier_kind.try!(:name) %>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col col-sm-7 pl-4">
            <h1 id="timer" class="display-1"><%= @unregister_inquiry.elapsed_time.strftime('%H:%M:%S') %></h1>
            <hr>
            <%= form_with url: unregister_update_inquiries_path do |f| %>
              <%= f.hidden_field :id, value: @unregister_inquiry.id %>
              <%= f.submit '完了', class: 'btn btn-primary btn-lg w-25', name: 'completed' %>
              <%= f.submit '未完了', class: 'btn btn-danger btn-lg w-25' %>
            <% end %>
            <br>
            <div class="mt-2">
              <button type="button" class="btn btn-success btn-lg w-25" data-bs-toggle="modal" data-bs-target="#search_inquiry_modal">検索</button>
              <%= link_to '戻る', unregister_inquiries_inquiries_path, class: 'btn btn-secondary btn-lg w-25' %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col col-sm-12">
            <div class="card">
              <div class="card-header bg-secondary">
                <span id="timer">過去の問合せ（最大5件表示）</span>
              </div>
              
              <div class="card-body p-0">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>着信日時</th>
                      <th>システム名</th>
                      <th>担当者</th>
                      <th>問合せ内容</th>
                      <th>回答内容</th>
                      <th>回答者</th>
                      <th>分類</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @inquiries.each do |inquiry| %>
                      <tr>
                        <td><%= inquiry.inquiry_datetime_text %></td>
                        <td><%= inquiry.system.short_name %></td>
                        <td><%= inquiry.inquirier_name %></td>
                        <td><%= inquiry.question %></td>
                        <td><%= inquiry.answer %></td>
                        <td><%= inquiry.user.name %></td>
                        <td><%= inquiry.inquiry_classification.name %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </section>
</div>

<div id="modal_area">
  <div id="search_inquiry_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" area-modal="true">
    <div class="modal-dialog xlarge_modal" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="container-fluid">
            <h4 class="modal-title">問合せ検索</h4>
            <br />
            
            <%= search_form_for @q, url: inquiry_search_inquiries_path, class: 'form-horizontal', id: 'search_form' do |f| %>
              <div class="row">
                <div class='form-group col col-sm-2'>
                  <%= f.label :system_id_eq, 'システム' %>
                  <%= f.select :system_id_eq, @systems, { include_blank: 'すべて' }, { class: 'form-control' } %>
                </div>
                <div class='form-group col col-sm-2'>
                  <%= f.label :inquiry_classification_id_eq, '問合せ種類' %>
                  <%= f.select :inquiry_classification_id_eq, @inquiry_classifications, { include_blank: 'すべて' }, { class: 'form-control' } %>
                </div>
                <div class='form-group col col-sm-2'>
                  <%= f.label :inquirier_kind_id_eq, '問合せ元分類' %>
                  <%= f.select :inquirier_kind_id_eq, @inquirier_kinds, { include_blank: 'すべて' }, { class: 'form-control' } %>
                </div>
                <div class="form-group col col-sm-5">
                  <%= label_tag :question_cont, '問合せ' %>
                  <%= text_field_tag :question_cont, '', class: 'form-control' %>
                </div>
              </div>

              <div class="row">              
                <div class="text-right">
                  <%= button_tag '検索', type: 'button', class: 'btn btn-success col col-sm-1', id: 'inquiry_search_btn' %>
                  <%= hidden_field_tag :search_url, '', id: 'search_url' %>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <div class="modal-body p-0">
          <table class="table table-striped">
            <thead>
              <tr class="bg-secondary">
                <th>問合せ内容</th>
                <th>回答内容</th>
              </tr>
            </thead>

            <tbody id="searched_inquiries">
            </tbody>
          </table>
        </div>

        <div class="modal-footer">
          <%= button_tag '閉じる', type: 'button', class: 'btn btn-default modal_close', data: {:'bs-dismiss' => "modal"} %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(() => {
    const start_time = $('#timer').text().split(':');
    let hour = Number(start_time[0]);
    let min = Number(start_time[1]);
    let sec = Number(start_time[2]);

    function updateTimer() {
      ++sec;
      if (sec == 60) {
        sec = 0;
        ++min;
      }

      if (min == 60) {
        min = 0;
        ++hour;
      }

      const timer_text = zeroPadding(hour) + ":" + zeroPadding(min) + ":" +  zeroPadding(sec);
      $('#timer').text(timer_text);
    }

    function zeroPadding(time) {
      return ("00" + time).slice(-2);
    }

    setInterval(updateTimer, 1000);
  });

  $('#inquiry_search_btn').on('click', () => {
    const params = $('#search_form').serialize();
    $.ajax({
      type: 'GET',
      url: '/inquiries/inquiry_search',
      data: params,
      dataType: 'json'
    }).done((inquiries) => {
      removeRow();
      buildRow(inquiries);
    }).fail(() => {
      removeRow();
    })
  });

  function removeRow() {
    $('#searched_inquiries').children('tr').remove();
  }

  function buildRow(inquiries) {
    let html = '';
    $.each(inquiries, (i, data) => {
      html += '<tr>'
      html += '<td>' + data.question + '</td>';
      html += '<td>' + data.answer + '</td>';
      html += '</tr>'
    });

    $('#searched_inquiries').append(html);
  }
</script>