<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <h4 class="m-0 text-dark">新着問合せ</h4>
    </div>
  </section>

  <section class="content">
    <div class="container-fluid">
      
      <div class="card">
        <div class="card-body p-0">
          <div class="row">
            <% @inquiries.each do |inquiry| %>
              <div class="col col-sm-4">
                <div class="card bg-light m-2">
                  <div class="card-body">
                    <ul class="list-group list-group-flush list-group-item-light">
                      <li class="list-group-item">
                        <i class="fas fa-clock mr-3"></i> <%= inquiry.inquiry_datetime %>
                      </li>
                      <li class="list-group-item">
                        <i class="fas fa-industry mr-3"></i> <%= inquiry.company_name %>
                      </li>
                      <li class="list-group-item">
                        <i class="fas fa-user-tie mr-3"></i> <%= inquiry.inquirier_name %>
                      </li>
                      <li class="list-group-item">
                        <i class="fas fa-phone mr-3"></i> <%= inquiry.telephone_number %>
                      </li>
                    </ul>
                  </div>

                  <div class="card-footer">
                    <div class="text-right">
                      <%= delete_button(unregister_destroy_inquiry_path(inquiry)) %>
                      <%= new_button(unregister_new_inquiries_path(id: inquiry.id), 'get', false, false) %>
                      <% if inquiry.can_resume? %>
                        <%= link_to '再開', unregister_edit_inquiry_path(inquiry), class: 'btn btn-success', data: {turbolinks: false} %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="ml-2">
          <%= paginate @inquiries %>
        </div>
      </div>
    </div>
  </section>
</div>