<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <h4 class="m-0 text-dark">応対中</h4>
    </div>
  </section>

  <section class="content">
    <div class="container-fluid">
      <%= form_with model: @unregister_inquiry, url: unregister_update_inquiries_path, method: :patch do |f| %>
        <div class="row">
          <div class="col col-sm-5">
            <div class="card">
              <div class="card-header bg-secondary">
                問合せ元情報
              </div>
              <div class="card-body">
                <ul class="list-group fs-5">
                  <li class="list-group-item">
                    <i class="fas fa-clock mr-3"></i> <%= @unregister_inquiry.inquiry_datetime %>
                    <%= f.hidden_field :start_time, value: @unregister_inquiry.start_time.strftime('%H:%M'), id: 'start_time' %>
                  </li>
                  <li class="list-group-item">
                    <i class="fas fa-industry mr-3"></i> <%= @unregister_inquiry.company_name %>
                  </li>
                  <li class="list-group-item">
                    <i class="fas fa-user-tie mr-3"></i> <%= @unregister_inquiry.inquirier_name %>
                  </li>
                  <li class="list-group-item">
                    <i class="fas fa-phone mr-3"></i> <%= @unregister_inquiry.telephone_number %>
                  </li>
                  <li class="list-group-item">
                    <i class="fas fa-user-friends mr-3"></i> <%= @unregister_inquiry.inquirier_kind.name %>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col col-sm-7 pl-4">
            <h1 id="timer" class="display-1"><%= @unregister_inquiry.elapsed_time.strftime('%H:%M:%S') %></h1>
            <hr>
            <button type="button" class="btn btn-primary btn-lg w-25">完了</button>
            <button type="button" class="btn btn-danger btn-lg w-25">未完了</button>
            <br>
            <div class="mt-2">
              <button type="button" class="btn btn-success btn-lg w-25">検索</button>
              <%= link_to '戻る', unregister_inquiries_inquiries_path, class: 'btn btn-secondary btn-lg w-25' %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col col-sm-12">
            <div class="card">
              <div class="card-header bg-secondary">
                <span id="timer">過去の問合せ（最大5件表示）</span>
              </div>
              
              <div class="card-body p-0">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>着信日時</th>
                      <th>システム名</th>
                      <th>担当者</th>
                      <th>問合せ内容</th>
                      <th>回答内容</th>
                      <th>回答者</th>
                      <th>分類</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @inquiries.each do |inquiry| %>
                      <tr>
                        <td><%= inquiry.inquiry_datetime_text %></td>
                        <td><%= inquiry.system.short_name %></td>
                        <td><%= inquiry.inquirier_name %></td>
                        <td><%= inquiry.question %></td>
                        <td><%= inquiry.answer %></td>
                        <td><%= inquiry.user.name %></td>
                        <td><%= inquiry.inquiry_classification.name %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </section>
</div>

<div id="modal_area">
</div>

<script>
  $(document).ready(() => {
    const start_time = $('#timer').text().split(':');
    const now = new Date();
    let hour = Number(start_time[0]);
    let min = Number(start_time[1]);
    let sec = Number(start_time[2]);

    function updateTimer() {
      ++sec;
      if (sec == 60) {
        sec = 0;
        ++min;
      }

      if (min == 60) {
        min = 0;
        ++hour;
      }

      const timer_text = zeroPadding(hour) + ":" + zeroPadding(min) + ":" +  zeroPadding(sec);
      $('#timer').text(timer_text);
    }

    function zeroPadding(time) {
      return ("00" + time).slice(-2);
    }

    setInterval(updateTimer, 1000);
  });
</script>