<!DOCTYPE html>
<html>
  <head>
    <title>Pechico</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <% unless log_in_page? %>
        <%= render partial: 'shared/top_nav' %>
        <%= render partial: 'shared/side_nav' %>
      <% end %>

      <%= yield %>

    </div>
  </body>
</html>
